body {
    background-color: #41644A;
    color: white;
    font-family: Ubuntu;
}

div {
    text-align: center;
    margin: auto;
    max-width: 95%;
}

h1 {
    font-size: 3em;
}

table {
    font-size: 2em;
    margin: auto;
    max-width: 25%;
}

th {
    padding-bottom: 50px;
}

td {
    padding: 0 10px 0 10px;
}

img {
    height: 200px;
    margin: auto;
    width: 200px;
}