body {
    font-family: Ubuntu;
}

ul {
    list-style-type: disc;
    color: #41644A;
}

.title {
    text-align: center;
}

.profile {
    margin: auto;
    width: 95%;
}

.cv {
    border-left: dotted 1px #6C7A89;
    margin: auto;
    padding-left: 5px;
    width: 95%;
}

.green {
    color: #41644A;
}