body {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    text-align: center;
}

.body {
    background-color: #19A7CE;
    border: 5px solid white;
    border-radius: 25px;
    color: white;
    margin: auto;
    padding: 5px;
    width: 95%;
}